.small-nav-container{
    display: none;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.small-nav-logo{
    display: none;
}
.open-menu, .close-menu{
    color: #ffffff;
    font-size: 1.5rem;
    padding: 7px;
    position: fixed;
    cursor: pointer;
    display: none;
    border-radius: 10px;
}
.open-menu{
    right: 15px;
    top: 10px;
    background-color: #252B42;
}
.close-menu{
    right: 10px;
    top: 10px;
    z-index: 9999;
}
.small-nav-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 30px 0px;
    height: 100%;
    box-sizing: border-box;
    background-color: #252B42;
}
.small-nav-logo, .small-login, .small-join, .small-nav-item{
    transition: 0.15s;
}
.small-login, .small-join{
    border-radius: 5px;
    padding: 10px 22px;
    font-size: 14px;
    line-height: 22px;
}
.small-nav-item{
    margin: 15px 70px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
}
hr.small-nav-hr{
    background-color: rgba(15, 141, 215, 20%);
    border: none;
    margin: 0px;
    padding: 0.1px;
    width: 140px;
}
.small-nav-actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}
.small-login, .small-join{
    margin: 15px 0px;
}
.small-login{
    background: transparent;
}
.small-login:hover{
    background: rgba(18, 21, 33, 0.2);
}
.small-join{
    background: #23A6F0;
}
.small-join:hover{
    background-color: #0c6ea7;
}

@media screen and (max-width: 1000px) {
    div.nav-container{
        display: none;
    }
    .small-nav-logo{
        display: block;
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .open-menu{
        display: block;
    }
}