.courses-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 950px;
    padding: 0px 20px;
    box-sizing: border-box;
    align-items: center;
}
.courses-right{
    text-align: left;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.courses-header{
    font-weight: 600;
}
.courses-right p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    font-weight: 500;
}
