.featured-products-section{
    max-width: 1200px;
}
.featured-products-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 120px;
    width: fit-content;
    text-align: left;
    padding: 0px 0px;
}
.featured-products-header p{
    font-size: 13px;
}
.featured-product-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 0px;
}
.featured-product{
    width: 310px;
    height: 550px;
    background: rgba(255, 255, 255, 1);

}
.product-image-top{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sale{
    background: #E74040;
    width: fit-content;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font-size: 12px;
    padding: 3px 7px;
    float: left;
    margin: 10px;
}
.product-top-actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.product-top-action{
    color: #000000;
    background-color: #FFFFFF;
    margin: 0px 6px;
    border-radius: 50%;
    display: flex;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px -3px #000000;
    font-size: 1.1rem;
    cursor: pointer;
}
.featured-product-details{
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    box-sizing: border-box;
    padding: 10px 0px;
    justify-content: space-between;
    height: 300px;
}
.featured-product-details-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    /* padding: 7px; */
}
.featured-product-from{
    font-size: 12px;
    color: rgba(35, 166, 240, 1);
    font-weight: 600;
}
.featured-product-rating{
    background: #252B42;
    border-radius: 20px;
    font-size: 10px;
    text-align: center;
    padding: 6px 9px;
}
.featured-product-rating i{
    color: rgba(255, 206, 49, 1);
}
.featured-product-name{
    color: rgba(37, 43, 66, 1);
    font-size: 14px;
    font-weight: 600;
}
.featured-product-details p{
    color: rgba(115, 115, 115, 1);
    font-size: 12px;

}
.sales-number{
    font-weight: 700;
    font-size: 12px;
    color: #737373;
}
span.price{
    font-size: 13px;
    font-weight: bold;
}
span.old-price{
    letter-spacing: 0.1px;
    color: #BDBDBD;
}
span.new-price{
    letter-spacing: 0.1px;
    color: #40BB15;
}
.extra-product-details{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.extra-product-details > span{
    color: rgba(115, 115, 115, 1);
    font-size: 12px;
}
.duration{
    color: rgba(35, 166, 240, 1);
}
.lessons{
    color: rgba(231, 124, 64, 1);
}
.progress{
    color: rgba(64, 187, 21, 1);
}
.product-learn-more{
    border: 1px solid #23A6F0;
    box-sizing: border-box;
    border-radius: 37px;
    color: #23A6F0;
    font-weight: 600;
    padding: 10px 22px;
    cursor: pointer;
}
.product-1{
    background-image: url('../img/Featured-products/1.jpg');
}
.product-2{
    background-image: url('../img/Featured-products/2.jpg');
}
.product-3{
    background-image: url('../img/Featured-products/3.jpg');
}