.products-section{
    display: flex;
    flex-direction: row;
    max-width: 950px;
    padding: 0px 20px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    min-height: 800px;
}
.products-section-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 250px;
}
hr.products-hr{
    margin: 0px;
    width: 94px;
    height: 7px;
    background: rgba(231, 64, 64, 1);
    border: none;

}
.products-header{
    font-weight: 600;
}
.products-header, .products-section-details p{
    text-align: left;
}
.products-section-details p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    font-weight: 500;
}
.package-learn-more{
    color: rgba(35, 166, 240, 1);
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
}
.products-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.product-card-row{
    display: none;
    display: flex;
    flex-direction: column;
}
.product-card{
    background: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    width: 200px;
    height: 260px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 15px 0px;
}
.product-card-image{
    width: 60px;
}

.product-card-title, .product-card p{
    text-align: left;
}
.product-card-title{
    color: rgba(37, 43, 66, 1);
    font-size: 14px;
    font-weight: 600;
}

hr.product-card-line{
    background: #E74040;
    border: none;
    width: 50px;
    height: 2px;
    margin: 0px;
}
.product-card p{
    color: rgba(115, 115, 115, 1);
    font-size: 13px;
}
.single-product-card{
    margin-left: 30px;
}