@import url('./fonts.css');
@import url('./nav.css');
@import url('./jumbo.css');
@import url('./products.css');
@import url('./courses.css');
@import url('./featured-products.css');
@import url('./contact-section.css');
@import url('./footer-section.css');


@import url('./small_screens/small_nav.css');
@import url('./small_screens/style.css');
/* *{
    border: 1px solid red;
} */
html{
    scroll-behavior: smooth;
}
body{
    background:rgba(37, 43, 66, 1);
    margin: 0px;
    font-family: 'Montserrat';
    color: rgba(255, 255, 255, 1);
}
a{
    text-decoration: none;
    color: #ffffff;
}
.border-bottom-container{
    width: 100%;
    border-bottom: 1px solid rgb(140, 140, 140, 0.18);
    margin-bottom: 20px;
}
.join, .login, .nav-item, .learn-more, .get-quote, .subscribe-button{
    transition: 0.15s;
}
.login:hover, .learn-more:hover{
    background: rgba(18, 21, 33, 0.2);
}